*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.header{
    display: flex;
    justify-content:space-around;
}
.navMenu{
    display: none;
    background-color: aquamarine;
   
}
.icon{
    width: 50px;
}

article{
    border: 1px solid #000000;
    margin: 10px;
}
footer{
    display: flex;
    flex-direction: column;
    /*eje pricipal (en este caso la Y)*/
    align-items: center;
    gap: 10px;
}

@media (min-width:768px){
    .icon{
        display: none;
    }
    .navMenu{
        display: inline-block;
    }
    .navMenu ul{
        display: flex;
        list-style: none;
        gap: 10px;
        align-items:center;
        height: 100%;
    }
}

@media (min-width:1024px){

    
}

@media (width>1024px){
    main{
        display: flex;
        gap: 10px;
    }
    article{
        width: calc(33.333% - 20px);
        height: 20vh;
    }

    footer{
        flex-direction: row;
        /*eje pricipal (en este caso la Y) es justify-content*/
        justify-content: space-around;
    }
    
}