*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
section{
    margin-bottom: 20px;
}
.section1{
    display: grid;
    grid-template-columns: repeat(3,33%);
    /* grid-template-rows: 30vh 40vh; */
    grid-template-rows: minmax(100px, auto) minmax(200px, auto);
}
article{
    background-color: tomato;
    width: 100%;
    border: 1px solid #ffffff;

}

.artic1{
    grid-column: 1/3;
}
.artic1{
    grid-row: 1/3;
    grid-column: 3/4;
}

Juego para practicar Flex:
https://flexboxfroggy.com/#es

Juego para practicar Grid:
https://cssgridgarden.com/#es